@using Blazored.Toast.Configuration

@inherits LayoutComponentBase
<!--De esta manera podemos utilizar los TOAST-->
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                ShowProgressBar="true" />
<NavMenu />
<div class="container body-content">
    @Body
</div>
